
<% include ../header%>
<link rel="stylesheet" href="/assets/css/DT_bootstrap.css" />
<body>
<div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
    </script>
    <%include ../navbar%>

</div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <%include ../left%>

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/admin/admin/home">Home</a>
                    </li>

                    <li>
                        <a href="#">考勤管理</a>
                    </li>
                    <li class="active">人员列表</li>
                </ul><!-- .breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
                    </form>
                </div><!-- #nav-search -->
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="header smaller lighter blue">考勤管理</h3>
                                <div class="alert alert-info">
                                    <i class="icon-hand-right"></i>
                                    公司:
                                    <select name="CID" id="CID">
                                        <option value="">全部</option>
                                        <% company.forEach(function(row){%>
                                        <option value="<%=row.CID%>"><%=row.CompanyName%></option>
                                        <% }) %>
                                    </select>
                                    日期：
                                    <input class="date-picker" id="beginDate" type="text" data-date-format="yyyy-mm-dd">
                                    -
                                    <input class="date-picker" id="endDate" type="text" data-date-format="yyyy-mm-dd">

                                    <input type="button" value="查询" class="btn btn-sm btn-yellow" style="float: right;" onclick="getList();">
                                </div>
                                <div class="table-header">
                                    考勤记录
                                </div>
                                <div class="table-responsive">
                                    <table id="myTable" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>姓名</th>
                                            <th>公司</th>
                                            <th>日期</th>
                                            <th>上班时间</th>
                                            <th>下班时间</th>
                                            <th>工作（小时）</th>
                                            <th>加班（小时）</th>
                                            <th>上班照片</th>
                                            <th>下班照片</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

        <% include ../setting%>
    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->
<%include ../footer%>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<!-- inline scripts related to this page -->




<script type="text/javascript">
    $(function(){
        $('.date-picker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
            $(this).focus();
        });
    });

    var table = $('#myTable').DataTable({
        "processing": true,
        "serverSide": true,
        "ordering": false,
        "bDestroy":true,
        //"iDisplayStart":1,//第几条开始
        //"oSearch":{"sSearch":""},
        "ajax": {
            "url": "/admin/kq/recordsData",
            "data": function ( d ) {
                d.CID = $("#CID").val();
                d.beginDate = $("#beginDate").val();
                d.endDate = $("#endDate").val();
            },
            "async":false,//这里为了showImg显示图片才改为同步，一般用true
        },
        "aoColumns":
                [
                    { "mData": "Name" },
                    { "mData": "CompanyName" },
                    { "mData": "ClockDate" },
                    { "mData": "FirstClock" },
                    { "mData": "LastClock" },
                    { "mData":"WorkTimes","mRender":function(data,type,full)
                    {
                        var str=data/3600;
                        return  str.toFixed(2);
                    }
                    },
                    { "mData":"OverTimes","mRender":function(data,type,full)
                    {
                        var str=data/3600;
                        return  str.toFixed(2);
                    }
                    },
                    { "mData":"FirstImage","mRender":function(data,type,full)
                    {
                        var str='';
                        if(data){
                            str+="<button type=\"button\" class=\"btn btn-success btn-sm img_show\" title=\"\" data-container=\"body\" data-toggle=\"popover\" data-placement=\"auto\" data-content=\"<img style='width: 300px;max-width:100%' src='"+data+"' /> \"  data-original-title=\"\">照片</button>";
                        }
                        return  str;
                    }
                    },
                    { "mData":"LastImage","mRender":function(data,type,full)
                    {
                        var str='';
                        if(data){
                            return "<img src='"+data+"' style='width:100px;'/>";
                        }
                        return  str;
                    }
                    },
                ],
    });

    imgPopover();
    function getList()
    {
        table.ajax.reload();
        imgPopover();
    }
    function imgPopover()
    {
        $("[data-toggle='popover']").popover({'html':true,'trigger':'hover click'});
    }
</script>
</body>
</html>